src/main/resources/xjc/xsd/InitializeRestoringPasswordProcessKafkaMessage.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

    <xs:element name="restorePasswordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clientId" type="xs:string"/>
                <xs:element name="restoreCode" type="xs:string"/>
                <xs:element name="contact" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>